{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="container-fluid">
        <div class="col-lg-3 col-md-3 col-sm-4">
            <form action="/login" method="post" class="login_form">
                <div class="container">
                    <div class="well well-sm">
                        <div class="form-group">
                            <label for="email">Username</label>
                            <input type="email" name="email" placeholder="Email" class="txtbox">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" placeholder="Password" class="txtbox">
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <input type="submit" value="Login" class="btn btn-primary">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}